@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root {
    --primary-white: #ffffff;
    --primary-red: #f90000;
    --primary-dark: rgba(52, 58, 64);
    --primary-orange: #f9ab00;
    --primary-grey: #ccd1d9;
    --primary-dark-grey: #666666;
    --primary-hover-orange: #f9ab00;
    --primary-light-grey : #f4f4f4;
    --primary-black : #000000;
}

body {
    font-family: "Roboto Condensed", sans-serif !important;
}


/*************************************** NAVBAR ***********************************/

nav {
    z-index: 2;
}

.logo {
    width: 3.25rem;
}


/*---------- Menu Links ---------*/

nav a.nav-link {
    /* font-weight: 500; */
    letter-spacing: 0.0375rem;
    cursor: pointer;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav>li>a {
    margin-right: 0.75rem;
    margin-left: 0.75;
    color: var(--primary-white) !important;
    border-top: 0.1875rem solid var(--primary-dark);
}

navbar-brand {
    max-width: 3.25rem;
    padding: 0 !important;
    height: 6rem !important;
}

.navbar-nav>li>a.active,
.navbar-nav>li a.active:focus {
    border-top: 0.1875rem solid var(--primary-red);
}

.navbar-nav>li>a:hover {
    border-top: 0.1875rem solid var(--primary-red);
}

@media(max-width: 768px) {
    .navbar-brand {
        width: 7rem;
    }
}


/*************************************** Header ***********************************/

.header-wraper {
    position: relative;
    background: url(background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.main-info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.main-info h1 {
    color: var(--primary-white);
    text-transform: uppercase;
}


/*--------------------------- TYPED TEXT ----------------------*/

.typed-text {
    font-size: 2rem;
    color: var(--primary-white);
}

@media(max-width: 768px) {
    .main-info h1 {
        font-size: 1, 7rem !important;
    }
}

.typed-text {
    font-size: 1.3rem !important;
}


/*--------------------------- HEADER MAIN OFFER BUTTON ----------------------*/

.btn-main-offer {
    border: 1px solid var(--primary-red);
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: var(--primary-white);
    margin: 2rem;
}

.btn-main-offer:hover {
    text-decoration: none;
    background-color: var(--primary-red);
    color: var(--primary-white);
    transition: .2s ease-in-out;
}


/*--------------------------- Particles js ----------------------*/

.tsparticles-canvas-el {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

@media(max-width: 768px) {
    .particles-canvas {
        display: none;
    }
}


/*************************************** About Me ***********************************/

.photo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 16rem;
    border-radius: 50%;
    padding: .3rem;
    border: 1px solid var(--primary-red);
}

.aboutme-heading {
    color: var(--primary-red);
    text-transform: uppercase;
}

@media(max-width: 468px) {
    .profile-img {
        width: 10rem;
    }
}

/************************************** SERVICES ***********************************/
.services{

text-align: center;
padding-bottom: 2rem;
background: var(--primary-light-grey);

}

.services h1{
    color: var(--primary-red);
    text-transform: uppercase;

}

.services .circle{
    position: relative;
    margin: 0.375rem auto;
    background: var(--primary-red);
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
}

.services .icon{
     font-size: 1.4rem;
     color: var(--primary-white);
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);

}

.services .box{
    height: 16rem;
    border-bottom: 0.3125rem solid var(--primary-red);
    padding: 0.625rem;
    margin-bottom: 1.875rem;
    background: var(--primary-white);
}

.services .box:hover{
    background: var(--primary-red);
    border-bottom: 0.3125rem solid var(--primary-dark);
}

.services .box:hover .icon{
    color: var(--primary-dark);
}

.services .box:hover .circle{
    background: var(--primary-white);
}

.services .box:hover p{
    color: var(--primary-white);
}

/*--------------------------- Experience ----------------------*/

.experience-wrapper{
    position: relative;
    padding: 3.125rem 0;
    overflow: hidden;
}

.experience h1{
    text-transform: uppercase;
    color: var(--primary-red);
}

.experience-wrapper::before{
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    margin-left: -0.0625rem;
    width: 0.125rem;
    height: 100%;
    background: var(--primary-grey);
    z-index: 1;
}

.timeline-block{
    width: clac(50% + 0.5rem);
    display: flex;
    justify-content: space-between;
    clear: both;
}

.timeline-block-right{
    float: right;    
}

.timeline-block-left{
    float: left;
    direction: rtl;
}

.marker{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;      
    border: 0.3125rem solid var(--primary-dark);
    background: var(--primary-red);
    margin-top: 0.625rem;
    z-index: 3;
}

.timeline-content{
    width: 95%;
    padding: 0 0.9375rem;
    color: var(--primary-dark-grey);
    direction: ltr; 
}

.timeline-content h3{
    margin-top: 0.3125rem;
    color: var(--primary-red);
    font-weight: 900;
}


/*---------------------------Portfolio ----------------------*/

.portfolio-wrapper{
    background: var(--primary-light-grey);
    padding: 2rem 0;
}

.portfolio-wrapper h1{
    color: var(--primary-red);
}

.portfolio-image{
    width: 15rem;
    border: 1px solid var(--primary-red);
    padding: 0 0.08rem;
}

.portfolio-image-box{
    position: relative;
    margin: 0.8rem;
}

/*---------------------------Overflow ----------------------*/

.overflow{
    position: absolute;
    opacity: 0;
    background: var(--primary-black);
    width: 15rem;
    height: 11rem;
    top: 0;
    border: 1px solid var(--primary-red);
    cursor: pointer;
}

.portfolio-image-box:hover .overflow{
    opacity: 60%;
    transition: 0.3s ease-in-out;
}

.portfolio-icon{
    position: absolute;
    opacity: 1;
    margin-left: -8rem;
    margin-top: 4.5rem;
    color: var(--primary-red);
    font-size: 1.5rem;
}

.portfolio-image-box:hover .portfoilo-icon{
    opacity: 70%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/*---------------------------Pop Up Portfolio ----------------------*/


.portfolio-image-popupbox{
    width: 45rem;
    padding: 0 0.5rem;
}

.hyper-link{
    cursor: pointer;
    color: var(--primary-red);

}

.hyper-link:hover{
    color: var(--primary-orange);
    
}

/*---------------------------Media ----------------------*/

@media(max-width: 768px){
    .portfolio-image-popupbox{
        width: 100%;
    }
}

@media(max-height: 570px){

    .popupbox-wrapper{
        height: 100%;
    }

    .portfolio-image-popupbox{
        width: 50%;
    }
}

@media(max-height: 280px){

    .popupbox-wrapper{
        height: 90%;
    }

    .portfolio-image-popupbox{
        width: 30%;
    }
}